# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Visual Studio
.vs/
*.sln
*.VC.db
*.VC.opendb

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Packaging
*.pak

# C++ object files
*.obj
*.pdb
*.idb
*.ilk

# Temporary files
*.tmp
*.temp
/CyberShooterProject/Content/LowerSector_Mod
